
body, div, dl, dt, dd, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
	margin: 0;
	padding: 0;
}
fieldset, img {
	border: 0 none;
}
address, caption, cite, code, dfn, th, var {
	font-style: normal; 
	font-weight: normal;
}
caption, th {
	text-align: left;
}
q:before, q:after {
	content:"";
}
abbr, acronym {
	border:0;
}
body { 
	font: 12px Myriad,Helvetica,Tahoma,Arial,clean,sans-serif; 
	*font-size: 75%;
}
h1 {
	font-size: 1.5em; 
	font-weight: normal;
	line-height: 1em; 
	margin-top: 1em;
	margin-bottom:0;
}
h2 { 
	font-size: 1.1667em; 
	font-weight: bold; 
	line-height: 1.286em; 
	margin-top: 1.929em; 
	margin-bottom:0.643em;
}
h3, h4, h5, h6 {
	font-size: 1em; 
	font-weight: bold; 
	line-height: 1.5em; 
	margin-top: 1.5em; 
	margin-bottom: 0;
}
p { 
	font-size: 1em; 
	margin-top: 1.5em; 
	margin-bottom: 1.5em; 
	line-height: 1.5em;
}
blockquote { 
	font-size: 0.916em; 
	margin-top: 3.272em; 
	margin-bottom: 3.272em; 
	line-height: 1.636em; 
	padding: 1.636em; 
	border-top: 1px solid #ccc; 
	border-bottom: 1px solid #ccc;
}
ol li, ul li { 
	font-size: 1em; 
	line-height: 1.5em; 
	margin: 0;
}
pre, code { 
	font-size:115%;
	*font-size:100%;
	font-family: Courier, "Courier New"; 
	background-color: #efefef; 
	border: 1px solid #ccc;
}
pre { 
	border-width: 1px 0; 
	padding: 1.5em;
}
table {  font-size:100%; }
.dojoTabular { 
	border-collapse: collapse; 
	border-spacing: 0; 
	border: 1px solid #ccc; 
	margin: 0 1.5em;
}
.dojoTabular th { 
	text-align: center; 
	font-weight: bold;
}
.dojoTabular thead,
.dojoTabular tfoot { 
	background-color: #efefef; 
	border: 1px solid #ccc; 
	border-width: 1px 0; 
}
.dojoTabular th,
.dojoTabular td { 
	padding: 0.25em 0.5em;
}

.dgrid {
  position: relative;
  overflow: hidden;
  border: 1px solid #ddd;
  height: 30em;
  display: block;
}
.dgrid-header {
  background-color: #eee;
}
.dgrid-header-row {
  position: absolute;
  right: 17px;
  left: 0;
}
.dgrid-header-scroll {
  position: absolute;
  top: 0;
  right: 0;
}
.dgrid-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.dgrid-header-hidden {
  font-size: 0;
  height: 0 !important;
  border-top: none !important;
  border-bottom: none !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.dgrid-footer-hidden {
  display: none;
}
.dgrid-sortable {
  cursor: pointer;
}
.dgrid-header,
.dgrid-header-row,
.dgrid-footer {
  overflow: hidden;
  background-color: #eee;
}
.dgrid-row-table {
  border-collapse: collapse;
  border: none;
  table-layout: fixed;
  empty-cells: show;
  width: 100%;
  height: 100%;
}
.dgrid-cell {
  padding: 3px;
  text-align: left;
  overflow: hidden;
  vertical-align: top;
  border: 1px solid #ddd;
  border-top-style: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.dgrid-content {
  position: relative;
  height: 99%;
}
.dgrid-scroller {
  overflow-x: auto;
  overflow-y: scroll;
  position: absolute;
  top: 0px;
  margin-top: 25px;
  bottom: 0px;
  width: 100%;
}
.dgrid-preload {
  font-size: 0;
  line-height: 0;
}
.dgrid-loading {
  position: relative;
  height: 100%;
}
.dgrid-above {
  position: absolute;
  bottom: 0;
}
.ui-icon {
  width: 16px;
  height: 16px;
  background-image: url("../dgrid/css/images/ui-icons_222222_256x240.png");
}
.dgrid-sort-arrow {
  background-position: -64px -16px;
  display: block;
  float: right;
  margin: 0 4px 0 5px;
  height: 12px;
}
.dgrid-sort-up .dgrid-sort-arrow {
  background-position: 0px -16px;
}
.dgrid-selected {
  background-color: #bbb;
}
.dgrid-input {
  width: 99%;
}
html.has-mozilla .dgrid-focus {
  outline-offset: -1px;
}
.dgrid-scrollbar-measure {
  width: 100px;
  height: 100px;
  overflow: scroll;
  position: absolute;
  top: -9999px;
}
.dgrid-autoheight {
  height: auto;
}
.dgrid-autoheight .dgrid-scroller {
  position: relative;
  overflow-y: hidden;
}
.dgrid-autoheight .dgrid-header-scroll {
  display: none;
}
.dgrid-autoheight .dgrid-header {
  right: 0;
}
.dgrid-column-set {
  overflow: hidden;
  width: 100%;
  position: relative;
  height: 100%;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}
.dgrid-column-set-cell {
  vertical-align: top;
  height: 100%;
}
.dgrid-column-set-scroller-container {
  font-size: 0;
  position: absolute;
  bottom: 0;
}
.dgrid-autoheight .dgrid-column-set-scroller-container {
  position: relative;
}
.dgrid-column-set-scroller {
  display: inline-block;
  overflow-x: auto;
  overflow-y: hidden;
}
.dgrid-column-set-scroller-content {
  height: 1px;
}
.ui-icon-triangle-1-e {
  background-position: -32px -16px;
}
.ui-icon-triangle-1-se {
  background-position: -48px -16px;
}
.dgrid-expando-icon {
  width: 16px;
  height: 16px;
}
.dgrid-tree-container {
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  transition-duration: 0.3s;
  overflow: hidden;
}
.dgrid-tree-container.dgrid-tree-resetting {
  -webkit-transition-duration: 0;
  -moz-transition-duration: 0;
  -o-transition-duration: 0;
  -ms-transition-duration: 0;
  transition-duration: 0;
}
.dgrid-hider-toggle {
  background-position: 0 -192px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
}
.dgrid-rtl-swap .dgrid-hider-toggle {
  right: auto;
  left: 0;
}
.dgrid-hider-menu {
  position: absolute;
  top: 0;
  right: 17px;
  width: 184px;
  background-color: #fff;
  border: 1px solid #000;
  z-index: 99999;
  padding: 4px;
  overflow-x: hidden;
  overflow-y: auto;
}
.dgrid-rtl-swap .dgrid-hider-menu {
  right: auto;
  left: 17px;
}
.dgrid-hider-menu-row {
  position: relative;
  padding: 2px;
}
.dgrid-hider-menu-check {
  position: absolute;
  top: 2px;
  left: 2px;
  padding: 0;
}
.dgrid-hider-menu-label {
  display: block;
  padding-left: 20px;
}
.dgrid-header .dojoDndTarget .dgrid-cell {
  display: table-cell;
}
.dgrid-header .dojoDndItemBefore {
  border-left: 2px dotted #000 !important;
}
.dgrid-header .dojoDndItemAfter {
  border-right: 2px dotted #000 !important;
}
.dgrid-column-resizer {
  position: absolute;
  width: 2px;
  background-color: #666;
  z-index: 1000;
}
.dgrid-resize-handle {
  height: 100px;
  width: 0;
  position: absolute;
  right: -4px;
  top: -4px;
  cursor: col-resize;
  z-index: 999;
  border-left: 5px solid transparent;
  outline: none;
}
.dgrid-resize-header-container {
  height: 100%;
}
html.has-touch .dgrid-resize-handle {
  border-left: 20px solid transparent;
}
html.has-touch .dgrid-column-resizer {
  width: 2px;
}
.dgrid-resize-header-container {
  position: relative;
}
.dgrid-header .dgrid-cell {
  overflow: hidden;
}
.dgrid-spacer-row {
  height: 0;
}
.dgrid-spacer-row th {
  padding-top: 0;
  padding-bottom: 0;
  border-top: none;
  border-bottom: none;
}
.dgrid-status {
  padding: 2px;
}
.dgrid-pagination .dgrid-status {
  float: left;
}
.dgrid-pagination .dgrid-navigation,
.dgrid-pagination .dgrid-page-size {
  float: right;
}
.dgrid-navigation .dgrid-page-link {
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  color: inherit;
  padding: 0 4px;
}
.dgrid-first,
.dgrid-last,
.dgrid-next,
.dgrid-previous {
  font-size: 130%;
}
.dgrid-pagination .dgrid-page-disabled {
  color: #aaa;
  cursor: default;
}
.dgrid-page-input {
  margin-top: 1px;
  width: 2em;
  text-align: center;
}
.dgrid-page-size {
  margin: 1px 4px 0 4px;
}
.dgrid-rtl-swap .dgrid-header-row {
  right: 0;
  left: 17px;
}
.dgrid-rtl-swap .dgrid-header-scroll {
  left: 0px;
  right: auto;
}
.dgrid-rtl .dgrid-cell {
  text-align: right;
}
.dgrid-rtl .dgrid-sort-arrow {
  float: left;
  margin: 0 5px 0 4px;
}
.dgrid-rtl .ui-icon-triangle-1-e {
  background-position: -96px -16px;
}
.dgrid-rtl .ui-icon-triangle-1-se {
  background-position: -80px -16px;
}
.dgrid-rtl .dgrid-pagination .dgrid-status {
  float: right;
}
.dgrid-rtl .dgrid-pagination .dgrid-page-size {
  float: right;
}
.dgrid-rtl .dgrid-pagination .dgrid-navigation {
  float: left;
}
.dgrid-rtl.dgrid-autoheight .dgrid-header {
  left: 0;
}

.claro .dgrid {
  background: #fff;
  border-color: #aaa;
  color: #000;
}
.claro .dgrid-header,
.claro .dgrid-footer {
  background: #ebf0f5;
  background-image: -webkit-linear-gradient(top, #ebf0f5 0%, #d5e0ea 100%);
  background-image: -moz-linear-gradient(top, #ebf0f5 0%, #d5e0ea 100%);
  background-image: -o-linear-gradient(top, #ebf0f5 0%, #d5e0ea 100%);
  background-image: -ms-linear-gradient(top, #ebf0f5 0%, #d5e0ea 100%);
  background-image: linear-gradient(to bottom, #ebf0f5 0%, #d5e0ea 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebf0f5', endColorstr='#d5e0ea',GradientType=0 );
}
.claro .dgrid-header .dgrid-cell {
  border-color: #bbb;
  font-weight: bold;
}
.claro .dgrid-header .dgrid-cell:hover {
  background: #ebf1f6;
  background-image: -webkit-linear-gradient(top, #fff 0%, #d2e0eb 100%);
  background-image: -moz-linear-gradient(top, #fff 0%, #d2e0eb 100%);
  background-image: -o-linear-gradient(top, #fff 0%, #d2e0eb 100%);
  background-image: -ms-linear-gradient(top, #fff 0%, #d2e0eb 100%);
  background-image: linear-gradient(to bottom, #fff 0%, #d2e0eb 100%);
}
.claro .dgrid-row {
  background: #fff url("../dgrid/css/skins/images/row_back.png") repeat-x;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: background-color, border-color;
  -moz-transition-property: background-color, border-color;
  -o-transition-property: background-color, border-color;
  -ms-transition-property: background-color, border-color;
  transition-property: background-color, border-color;
}
.claro .dgrid-row:hover {
  background-color: #e9f2fe;
}
.claro .dgrid-selected {
  background-color: #cee6fa;
}
.claro .dgrid-selected:hover {
  background-color: #9bc6f2;
}
.claro .dgrid-highlight {
  background-color: #ff6;
}
.claro .dgrid-cell {
  border-color: #edc;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
.dojoxDialog{
    padding:0px !important;
}
.dojoxDialogTitleBar {
    background-color: lightblue  !important;
    -moz-border-radius-topleft: 9pt  !important;
    -moz-border-radius-topright: 9pt  !important;
    -webkit-border-top-left-radius: 8pt  !important;
    -webkit-border-top-right-radius: 8pt  !important;
}
.wpt-header-pane,
.wpt-bar-header-pane,
.wpt-footer-pane{
    height:27px;
}
.wpt-bar-header-pane{
    border-bottom: 1px solid #888;
}
.wpt-bar-header-pane .wpt-toolbar {
    width:100%;
    height:100%;
    padding:0;
}
.wpt-toolbar .wpt-toolbar-container{
    padding:0 5px;
}
.wpt-float-left{
    float:left;
}
.wpt-float-right{
    float:right;
}
.wpt-toolbar-separator
{
    content: "";
    display: inline-block;
    width: 0px;
    height: 30px;
    border-right: 1px solid #fafafa;
    border-left: 1px solid #b4b4b4;
    margin: 0 5px;
}
.wpt-toolbar-container .wpt-toolbar-item {
    padding-top:3px;
}
.wpt-control-menubar{
    width:25px;
}
.wpt-main-container {
    width:100%;
    height:100%;
    padding:0;
    margin:0;
}
.wpt-tab-toolbar {
    float:left;
    margin:5px 5px 0 0;
}
.wpt-main-container{
    background-color:#bbb;
}
.wpt-data-source-pane,
.wpt-pivot-main-pane,
.wpt-nav-pane,
.wpt-drill-through-pane,
.wpt-report-pane{
    background-color:#ddd;
}
.wpt-main-container,
.wpt-nav-pane{
    border:1px solid #888;
}
.wpt-drill-through-pane,
.wpt-data-source-pane{
    overflow-x:auto;
    overflow-y:hidden;
    padding: 0;
}
.dijitTabContainerTop-tabs .dijitButtonText,
.wpt-bar-header-pane .dijitButtonText,
.wpt-leftmenu-pane .dijitButtonText,
.wpt-button-selector .dijitButtonText {
    padding: 0;
}
.wpt-main-container .dijitContentPane,
.wpt-nav-pane .dijitContentPane,
.dojoxDialog .dijitTabPane,
.wpt-tooltip-dialog .dijitContentPane{
    padding: 3px;
}
.wpt-bar-header-pane .dijitToolbar  .dijitToggleButtonChecked .dijitButtonNode{
    border: 1px solid black;
    font-weight: bold;
    background-color: lightblue;
}
.wpt-button-selector .dijitToggleButtonChecked .dijitButtonNode{
    background-color: orange;
}
.wpt-main-container .dgrid-pagination .dgrid-navigation,
.wpt-main-container .dgrid-pagination .dgrid-page-size{
    float:left;
}
.wpt-status-message{
    float:left;
    color:orange;
    font-weight:bold;
    margin:4px;
}
.wpt-field-row {
    float:left;
    width:100%;
    padding-top: 5px;
}
.wpt-field-text{
    float:left;
    font-weight:bold;
    margin:5px;
}
.wpt-field-row a{
    color:blue;
    cursor:pointer;
    text-decoration: underline;
}
.wpt-pivot-grid-pane:-webkit-full-screen { width: 100%; height:100%; overflow: auto;}
.wpt-pivot-grid-pane:-moz-full-screen    { width: 100%; height:100%; overflow: auto;}
.wpt-pivot-grid-pane:-ms-full-screen		{ width: 100%; height:100%; overflow: auto;}
.wpt-pivot-grid-pane:-o-full-screen		{ width: 100%; height:100%; overflow: auto;}
.wpt-pivot-grid-pane:full-screen			{ width: 100%; height:100%; overflow: auto;}
.wpt-pivot-chart-pane:-webkit-full-screen { width: 100%; height:100%; overflow: auto;}
.wpt-pivot-chart-pane:-moz-full-screen    { width: 100%; height:100%; overflow: auto;}
.wpt-pivot-chart-pane:-ms-full-screen    	{ width: 100%; height:100%; overflow: auto;}
.wpt-pivot-chart-pane:-o-full-screen		{ width: 100%; height:100%; overflow: auto;}
.wpt-pivot-chart-pane:full-screen			{ width: 100%; height:100%; overflow: auto;}
.wpt-report-pane:-webkit-full-screen { width: 100%; height:100%; overflow: auto;}
.wpt-report-pane:-moz-full-screen    { width: 100%; height:100%; overflow: auto;}
.wpt-report-pane:-ms-full-screen    	{ width: 100%; height:100%; overflow: auto;}
.wpt-report-pane:-o-full-screen		{ width: 100%; height:100%; overflow: auto;}
.wpt-report-pane:full-screen			{ width: 100%; height:100%; overflow: auto;}
.wpt-indent-img {
    width:16px;
    height:16px;
    float:left;
}
.wpt-expand-img {
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-image:url("resources/img/expand.png");
    float:left;
    background-position: 0 0;
}
.wpt-collapse-img {
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-image:url("resources/img/collapse.png");
    float:left;
    background-position: 0 0;
}
.wpt-fields-menu-ttd {
    width:350px;
    height:120px;
}
.wpt-chart-type-ttd{
    width:500px;
    height:80px;
}
.wpt-cell-value-textbox{
    float:left;
    width:200px;
}
.wpt-csv-data-grid{
    width:100%;
    height:100%;
}
.wpt-cursor-pointer {
    cursor:pointer;
}
.wpt-fields-grid .wpt-field-checkbox,
.wpt-fields-grid .wpt-field-filter,
.wpt-fields-grid .wpt-field-arrow,
.wpt-control-grid .wpt-field-arrow,
.wpt-fields-grid-ttd .field-selector{
	width:16px;
}
.wpt-control-container {
    float:left;
}
.wpt-control-container .wpt-top-pane{
    height:16px;
}
.wpt-control-container .wpt-field-text{
    float:left;
    margin:0;
    font-weight:bold;
}
.wpt-fields-grid .dgrid-cell,
.wpt-control-grid .dgrid-cell,
.wpt-fields-grid-ttd .dgrid-cell{
  padding: 0;
	border: 0;
}
.wpt-control-grid .dgrid-row-table {
    background-color:rgb(250, 224, 177);
    border:1px inset rgb(252, 198, 102);
}
.wpt-fields-grid{
    height: auto;
    overflow:auto;
}
.wpt-fields-grid .dgrid-scroller{
    position: relative;
    overflow-y: hidden;
}
.wpt-control-grid{
    height: 100%;
    overflow:auto;
}
.wpt-control-grid .dgrid-scroller {
    overflow-y: auto;
}
.wpt-fields-grid .dgrid-header-scroll,
.wpt-control-grid .dgrid-header-scroll {
    display: none;
}
.wpt-fields-grid .dgrid-header,
.wpt-control-grid .dgrid-header {
    right: 0;
}
.wpt-fields-grid-ttd,
.wpt-fields-setting-ttd{
    width:300px;
	  height:350px;
}
.wpt-xmla-data-ttd{
    width:400px;
    height:350px;
}
.wpt-fields-setting-ttd .wpt-header-pane {
    height:120px;
}
.wpt-cell-style-fieldset {
	border: 1px solid black;
	margin: 5px 0;
	padding: 5px 0;
	width: 100%;
	float:left;
}
.wpt-cell-style-item {
	width:100%;
	float:left;
}
.wpt-cell-style-item .wpt-cell-sample-container {
	width:180px;
	height:40px;
	float: left;
	margin:0 60px 10px 60px;
}
.wpt-cell-style-item .wpt-cell-sample-container .wpt-cell-sample{
	width:180px;
	height:40px;
	border: 1px solid black;
	display:table-cell;
}
.wpt-cell-style-field-label{
	float:left;
	font-weight:bold;
	margin: 5px;
}
.wpt-cube-grid .field-type {
    width:100px;
    text-align:right;
}
.StatsGrid {
	float:left;
	width:200px;
	height:100%;
}

.wpt-pivot-grid-pane{
    width:100%;
    height:100%;
}
.wpt-pivot-grid{
    height:100%;
    border:0px;
}
.wpt-pivot-grid .dgrid-header-scroll{
    display:none;
}
.wpt-pivot-grid .dgrid-spacer-row {
    display:none;
}
.wpt-pivot-grid .dgrid{
    border:0;
}
.wpt-pivot-grid .dgrid-header .dgrid-cell,
.wpt-pivot-grid .dgrid-cell{
    padding: 3px;
    border: 1px solid #888;
    vertical-align: middle;
}
.wpt-pivot-grid .dgrid-cell.wpt-active{
    border-color: orange;
}
.wpt-pivot-grid .dgrid-header .dgrid-cell{
    text-align: center;
    background-color: #bfd6eb;
    font-weight: bold;
}
.wpt-pivot-grid .dgrid-content .rowHeader{
    text-align: left;
    background-color: #bfd6eb;
    font-weight: bold;
}
.wpt-pivot-grid .dgrid-content .dataCell{
    text-align: right;
    background-color: #eee;
}
.wpt-pivot-grid .dgrid-content .subtotalCell{
    text-align: right;
    background-color: #d2e9e9;
}
.wpt-pivot-grid .dgrid-content .totalCell{
    text-align: right;
    background-color: #72d2df;
}
.wpt-default .wpt-pivot-grid .dgrid-header .dgrid-cell,
.wpt-default .wpt-pivot-grid .dgrid-content .rowHeader,
.wpt-default .wpt-pivot-grid .dgrid-content .dataCell,
.wpt-default .wpt-pivot-grid .dgrid-content .subtotalCell,
.wpt-default .wpt-pivot-grid .dgrid-content .totalCell{
}
.wpt-green .wpt-pivot-grid .dgrid-header .dgrid-cell{
    background-color: lightgreen;
}
.wpt-green .wpt-pivot-grid .dgrid-content .rowHeader{
    background-color: lightgreen;
}
.wpt-green .wpt-pivot-grid .dgrid-content .dataCell{
    background-color: #eee;
}
.wpt-green .wpt-pivot-grid .dgrid-content .subtotalCell{
    background-color: #d2e9e9;
}
.wpt-green .wpt-pivot-grid .dgrid-content .totalCell{
    background-color: #72d2df;
}

